<!-- <footer class="footer bg-dark text-white text-center text-lg-start">
  <div class="container p-4 bg-dark">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-white">
        <h5 class="text-uppercase">Disease Prediction</h5>
        <p>
          Disease Prediction represents a holistic approach to senior wellness and aims to enhance physical, emotional, and social well-being.
        </p>
        <h6>Doctors can efficiently manage patients.</h6>
        <h6>The software simplifies medical workflows.</h6>
        <h6>Doctors can easily access patient records.</h6>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-white">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#" class="text-white">
              <i class="fas fa-map-marker-alt"></i> Location
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" class="text-white" target="_blank">
              <i class="fab fa-instagram"></i> Instagram
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com" class="text-white" target="_blank">
              <i class="fab fa-facebook-f"></i> Facebook
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com" class="text-white" target="_blank">
              <i class="fab fa-twitter"></i> Twitter
            </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-white">
        <h5 class="text-uppercase">Contact Us</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <p><i class="fas fa-envelope"></i> Email: paras.ayer33@gmail.com</p>
          </li>
          <li>
            <p><i class="fas fa-phone"></i> Phone: 9867546753</p>
          </li>
          <li>
            <p><i class="fas fa-map-marker-alt"></i> Address: Maitidevi, Kathmandu, Nepal</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3 bg-dark">
    &copy; Disease Prediction. All rights reserved.
  </div>
</footer> -->
